{% extends 'page/checkout/payment.html.twig' %}

{% block change_payment %}
    {% if oView.isPcpPayment() %}
        {{ script({ include: "js/widgets/oxpayment.min.js", priority: 10 }) }}
        {{ script({ include: "js/libs/jqBootstrapValidation.min.js", priority: 10 }) }}
        {{ script({ add: "$( '#payment' ).oxPayment();" }) }}
        {{ script({ add: "$('input,select,textarea').not('[type=submit]').jqBootstrapValidation();" }) }}

        <form action="{{ oViewConf.getSslSelfLink() }}" class="form-horizontal js-oxValidate payment" id="payment" name="order" method="post" novalidate="novalidate">
            <div class="hidden">
                {{ oViewConf.getHiddenSid()|raw }}
                {{ oViewConf.getNavFormParams()|raw }}
                <input type="hidden" name="cl" value="{{ oViewConf.getActiveClassName() }}">
                <input type="hidden" name="fnc" value="validatepayment">
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h3 id="paymentHeader" class="card-title">{{ translate({ ident: "PCP_MERCHANT_REFERENCE" }) }}</h3>
                </div>
                <div class="card-body">
                    {% set pcpMerchantReference = oView.pcpGetMerchantReference() %}
                    {% set pcpCheckoutReference = oView.pcpGetCheckoutReference() %}
                    <div class="mb-3 row">
                        <label class="req col-form-label col-lg-2">{{ translate({ ident: "PCP_MERCHANT_REFERENCE" }) }}:</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" size="20" maxlength="20" name="dynvalue[pcp_merchant_reference]" value="{{ pcpMerchantReference }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="req col-form-label col-lg-2">{{ translate({ ident: "PCP_CHECKOUT_REFERENCE" }) }}:</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" size="20" maxlength="20" name="dynvalue[pcp_checkout_reference]" value="{{ pcpCheckoutReference }}">
                        </div>
                    </div>
                </div>
            </div>

            {% if oView.getPaymentList() %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 id="paymentHeader" class="card-title">{{ translate({ ident: "PAYMENT_METHOD" }) }}</h3>
                    </div>
                    <div class="card-body">
                        {% set inptcounter = -1 %}
                        {% for sPaymentID, paymentmethod in oView.getPaymentList() %}
                            {% set inptcounter = inptcounter + 1 %}
                            {% block select_payment %}
                                <div class="card card-body mb-2">
                                    {% if sPaymentID == "pcpcreditcard" %}
                                        <div class="payment-option">
                                            <div class="payment-option-form">
                                                <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
                                                       value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
                                                <label class="form-check-label"
                                                       for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
                                                <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
                                                    <div class="pcp-payment-content">
                                                        <div>
                                                            <img
                                                                src="{{ oViewConf.getModuleUrl('PayonePcpPrototype', 'img/visa_logo.png') }}"
                                                                alt="{{ translate({ ident: "PCP_DEMO_CREDITCARD" }) }}"
                                                                style="max-width: 200px;margin-bottom: 20px;"
                                                            >
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <select id="{{ sPaymentID }}_cctype" name="dynvalue[pcp_demo_cctype]" class="form-select" disabled>
                                                                <option value="pcp_demo_visa" selected>Visa</option>
                                                                <option value="pcp_demo_mastercard">Mastercard</option>
                                                            </select>
                                                            <label for="{{ sPaymentID }}_cctype">{{ translate({ ident: "PCP_DEMO_CREDITCARD" }) }}</label>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input id="{{ sPaymentID }}_ccnumber" placeholder="{{ translate({ ident: 'PCP_DEMO_CC_NUMBER' }) }}" autocomplete="off" type="text" class="form-control" size="20" maxlength="64" name="dynvalue[pcp_demo_ccnumber]" value="4716971940353559" disabled>
                                                            <label for="{{ sPaymentID }}_ccnumber">{{ translate({ ident: "PCP_DEMO_CC_NUMBER" }) }}</label>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input id="{{ sPaymentID }}_cccardholder" placeholder="{{ translate({ ident: 'PCP_CC_CARDHOLDER' }) }}" autocomplete="off" type="text" class="form-control" size="20" maxlength="64" name="dynvalue[pcp_demo_ccholder]" value="{{ oView.pcpGetCardHolder() }}" disabled>
                                                            <label for="{{ sPaymentID }}_cccardholder">{{ translate({ ident: "PCP_CC_CARDHOLDER" }) }}</label>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <div class="col-12">{{ translate({ ident: "PCP_VALID_UNTIL" }) }}:</div>
                                                            <div class="col-6">
                                                                <select id="{{ sPaymentID }}_ccmonth" name="dynvalue[pcp_demo_ccmonth]" class="form-select" disabled>
                                                                    {% for m in ['01','02','03','04','05','06','07','08','09','10','11','12'] %}
                                                                        <option {{ m == '07' ? 'selected' : '' }}>{{ m }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <label for="{{ sPaymentID }}_ccmonth">{{ translate({ ident: "PCP_VALID_UNTIL_MONTH" }) }}</label>
                                                            </div>
                                                            <div class="col-6">
                                                                <select id="{{ sPaymentID }}_ccyear" name="dynvalue[pcp_demo_ccyear]" class="form-select" disabled>
                                                                    {% for y in ['2024','2025','2026','2027','2028'] %}
                                                                        <option {{ y == '2027' ? 'selected' : '' }}>{{ y }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <label for="{{ sPaymentID }}_ccyear">{{ translate({ ident: "PCP_VALID_UNTIL_YEAR" }) }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input id="{{ sPaymentID }}_cccheck" placeholder="{{ translate({ ident: 'PCP_DEMO_CARD_SECURITY_CODE' }) }}" autocomplete="off" type="text" class="form-control" size="20" maxlength="64" name="dynvalue[pcp_demo_cccheck]" value="123" disabled>
                                                            <label for="{{ sPaymentID }}_cccheck">{{ translate({ ident: "PCP_DEMO_CARD_SECURITY_CODE" }) }}:</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif sPaymentID == "pcpsecuredebit" %}
                                        <div class="payment-option">
                                            <div class="payment-option-form">
                                                <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
                                                       value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
                                                <label class="form-check-label"
                                                       for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
                                                <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
                                                    <div class="pcp-payment-content">
                                                        <div>
                                                            <img
                                                                    src="{{ oViewConf.getModuleUrl('PayonePcpPrototype', 'img/Zahlungsmethode_Lastschrift.png') }}"
                                                                    alt="Direct Debit"
                                                                    style="max-width: 200px;margin-bottom: 20px;"
                                                            >
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                            <input id="{{ sPaymentID }}_iban" placeholder="{{ translate({ ident: 'PCP_DEMO_IBAN' }) }}" autocomplete="off" type="text" class="form-control" size="20" maxlength="64" name="dynvalue[pcp_demo_iban]" value="DE52940594210000082271" disabled>
                                                            <label for="{{ sPaymentID }}_iban">{{ translate({ ident: "PCP_DEMO_IBAN" }) }}</label>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input id="{{ sPaymentID }}_accountholder" placeholder="{{ translate({ ident: 'PCP_DEBIT_ACCOUNTHOLDER' }) }}" autocomplete="off" type="text" class="form-control" size="20" maxlength="64" name="dynvalue[pcp_demo_accountholder]" value="{{ oView.pcpGetCardHolder() }}" disabled>
                                                            <label for="{{ sPaymentID }}_accountholder">{{ translate({ ident: "PCP_DEBIT_ACCOUNTHOLDER" }) }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif sPaymentID == "pcppaypal" %}
                                        <div class="payment-option">
                                            <div class="payment-option-form">
                                                <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
                                                       value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
                                                <label class="form-check-label"
                                                       for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
                                                <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
                                                    <div class="pcp-payment-content">
                                                        <img
                                                            src="{{ oViewConf.getModuleUrl('PayonePcpPrototype', 'img/paypal.png') }}"
                                                            alt="PayPal"
                                                            style="max-width: 200px;margin-bottom: 20px;"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif sPaymentID == "pcpsecureinstallment" %}
                                        <div class="payment-option">
                                            <div class="payment-option-form">
                                                <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
                                                       value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
                                                <label class="form-check-label"
                                                       for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
                                                <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
                                                    <div class="pcp-payment-content">
                                                        <div>
                                                            <img
                                                                    src="{{ oViewConf.getModuleUrl('PayonePcpPrototype', 'img/zahlungsmethode_ratenkauf.png') }}"
                                                                    alt="{{ translate({ ident: "PCP_MESSAGE_INSTALLMENT_PAYMENT" }) }}"
                                                                    style="max-width: 200px;margin-bottom: 20px;"
                                                            >
                                                        </div>
                                                        <div class="desc">
                                                            <i>{{ translate({ ident: "PCP_MESSAGE_INSTALLMENT_PAYMENT" }) }}</i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elseif sPaymentID == "pcppayinstore" %}
                                        <div class="payment-option">
                                            <div class="payment-option-form">
                                                <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
                                                       value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
                                                <label class="form-check-label"
                                                       for="payment_{{ sPaymentID }}">{{ paymentmethod.oxpayments__oxdesc.value }}</label>
                                                <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
                                                    <div class="pcp-payment-content">
                                                        <div>
                                                            <img
                                                                src="{{ oViewConf.getModuleUrl('PayonePcpPrototype', 'img/pick_up_in_store.png') }}"
                                                                alt="{{ translate({ ident: "PCP_MESSAGE_PAY_IN_STORE_PAYMENT" }) }}"
                                                            >
                                                        </div>
                                                        <div class="desc">
                                                            <i>{{ translate({ ident: "PCP_MESSAGE_PAY_IN_STORE_PAYMENT" }) }}</i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ parent() }}
                                    {% endif %}
                                </div>
                            {% endblock %}
                        {% endfor %}
                    </div>
                </div>

                {% block checkout_payment_nextstep %}
                    {% if oView.isLowOrderPrice() %}
                        <div class="alert alert-info">
                            <b>{{ translate({ ident: "MIN_ORDER_PRICE" }) }} {{ oView.getMinOrderPrice() }} {{ currency.sign }}</b>
                        </div>
                    {% endif %}
                {% endblock %}
            {% endif %}
        </form>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
