{% include "headitem.html.twig" with {title: "SYSREQ_MAIN_TITLE"|translate, box: "list"} %}
{% set where = oView.getListFilter() %}

{% if readonly %}
    {% set readonly = "readonly disabled" %}
{% else %}
    {% set readonly = "" %}
{% endif %}

<!--suppress Annotator -->
<script type="text/javascript">
    window.onload = function () {
        top.reloadEditFrame();
        {% if updatelist == 1 %}
        top.oxid.admin.updateList('{{  oxid  }}');
        {% endif %}
    }
</script>

<div id="liste">
    <form autocomplete="off" name="search" id="search" action="{{ oViewConf.getSelfLink() }}" method="post">
        {% include "_formparams.html.twig" with {'cl': 'FcPayOneApiLogList', 'lstrt': lstrt, 'actedit': actedit, 'oxid': oxid, 'language': actlang, 'editlanguage':actlang } %}

        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <tr class="listitem">
                <td class="listfilter">
                    <div class="r1"><div class="b1">
                            <input class="listedit" type="text" size="30" maxlength="128" name="{{ oView.pcpGetInputName('pcpapilog', 'pcp_timestamp') }}" value="{{ oView.pcpGetWhereValue('pcpapilog', 'pcp_timestamp') }}">
                        </div></div>
                </td>
                <td class="listfilter">
                    <div class="r1">
                        <div class="b1">
                            <div class="find"><input class="listedit" type="submit" name="submitit" value="{{ translate({ ident: "GENERAL_SEARCH" }) }}"></div>
                            <input class="listedit" type="text" size="30" maxlength="128" name="{{ oView.pcpGetInputName('pcpapilog', 'pcp_requesttype') }}" value="{{ oView.pcpGetWhereValue('pcpapilog', 'pcp_requesttype') }}"><br>
                        </div>
                    </div>
                </td>
                <td class="listfilter">
                    <div class="r1">
                        <div class="b1">
                            <div class="find"><input class="listedit" type="submit" name="submitit" value="{{ translate({ ident: "GENERAL_SEARCH" }) }}"></div>
                            <input class="listedit" type="text" size="30" maxlength="128" name="{{ oView.pcpGetInputName('pcpapilog', 'pcp_refnr') }}" value="{{ oView.pcpGetWhereValue('pcpapilog', 'pcp_refnr') }}">
                        </div>
                    </div>
                </td>
                <td class="listfilter" colspan="2" nowrap>
                    <div class="r1">
                        <div class="b1">
                            <div class="find"><input class="listedit" type="submit" name="submitit" value="{{ translate({ ident: "GENERAL_SEARCH" }) }}"></div>
                            <input class="listedit" type="text" size="30" maxlength="128" name="{{ oView.pcpGetInputName('pcpapilog', 'pcp_response_httpcode') }}" value="{{ oView.pcpGetWhereValue('pcpapilog', 'pcp_response_httpcode') }}">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="listheader first" height="15">&nbsp;<a href="Javascript:top.oxid.admin.setSorting( document.search, 'pcpapilog', 'pcp_timestamp', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="PCP_LIST_HEADER_TIMESTAMP"}]</a></td>
                <td class="listheader"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'pcpapilog', 'pcp_requesttype', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="PCP_LIST_HEADER_REQUESTTYPE"}]</a></td>
                <td class="listheader"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'pcpapilog', 'pcp_refnr', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="PCP_LIST_HEADER_REFERENCE"}]</a></td>
                <td class="listheader"><a href="Javascript:top.oxid.admin.setSorting( document.search, 'pcpapilog', 'pcp_response_httpcode', 'asc');document.search.submit();" class="listheader">[{oxmultilang ident="PCP_LIST_RESPONSE_HTTPCODE"}]</a></td>
            </tr>

            {% set blWhite = "" %}
            {% set _cnt = 0 %}
            {% for listitem in mylist %}
                {% set _cnt = _cnt+1 %}
                <tr id="row.{{ _cnt }}">
                    {% if listitem.blacklist == 1 %}
                        {% set listclass = "listitem3" %}
                    {% else %}
                        {% set listclass = 'listitem' ~ blWhite %}
                    {% endif %}
                    {% if listitem.getId() == oxid  %}
                        {% set listclass = "listitem4" %}
                    {% endif %}
                    <td valign="top" class="{{  listclass }}" height="15">
                        <div class="listitemfloating">&nbsp;<a
                                    href="Javascript:top.oxid.admin.editThis('{{  listitem.pcpapilog__oxid.value|raw }}');"
                                    class="{{  listclass }}">{{  listitem.pcpapilog__pcp_timestamp.value|raw }}</a></div>
                    </td>
                    <td valign="top" class="{{  listclass }}">
                        <div class="listitemfloating"><a
                                    href="Javascript:top.oxid.admin.editThis('{{  listitem.pcpapilog__oxid.value|raw }}');"
                                    class="{{  listclass }}">{{ listitem.pcpapilog__pcp_requesttype.valu|raw }}</a></div>
                    </td>
                    <td valign="top" class="{{  listclass }}">
                        <div class="listitemfloating"><a
                                    href="Javascript:top.oxid.admin.editThis('{{  listitem.pcpapilog__oxid.value|raw }}');"
                                    class="{{  listclass }}">{{  listitem.pcpapilog__pcp_refnr.value|raw }}</a>
                        </div>
                    </td>
                    <td valign="top" class="{{  listclass }}">
                        <div class="listitemfloating"><a
                                    href="Javascript:top.oxid.admin.editThis('{{  listitem.pcpapilog__oxid.value|raw }}');"
                                    class="{{  listclass }}">{{  listitem.pcpapilog__pcp_response_httpcode.value|raw }}</a>
                        </div>
                    </td>
                    <td class="{{  listclass }}"></td>
                </tr>
                {% if blWhite == "2" %}
                    {% set blWhite = "" %}
                {% else %}
                    {% set blWhite = "2" %}
                {% endif %}
            {% endfor %}
            {% include "pagenavisnippet.html.twig" with {colspan: "8"} %}
        </table>
    </form>
</div>

{% include "pagetabsnippet.html.twig" %}


<script type="text/javascript">
    if (parent.parent) {
        parent.parent.sShopTitle = "{{ actshopobj.oxshops__oxname.getRawValue()|addslashes }}";
        parent.parent.sMenuItem = "{{ translate({ ident: "PCP_ADMIN_TITLE" }) }}";
        parent.parent.sMenuSubItem = "{{ translate({ ident: "PCP_API_LOG" }) }}";
        parent.parent.sWorkArea = "{{ _act }}";
        parent.parent.setTitle();
    }
</script>
</body>
</html>