{% if oView.pcpIsStoreShipping() %}
    <div id="orderAddress" class="row">
        <div class="col-12 col-md-6">
            <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
                <div class="hidden">
                    {{ oViewConf.getHiddenSid() }}
                    <input type="hidden" name="cl" value="user">
                    <input type="hidden" name="fnc" value="">
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">
                            {{ translate({ ident: "BILLING_ADDRESS" }) }}
                            <button type="submit" class="btn btn-sm btn-warning float-end submitButton largeButton" title="{{ translate({ ident: 'EDIT' }) }}">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </h3>
                    </div>
                    <div class="card-body">
                        {% include "widget/address/billing_address.html.twig" %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
                <div class="hidden">
                    {{ oViewConf.getHiddenSid() }}
                    <input type="hidden" name="cl" value="user">
                    <input type="hidden" name="fnc" value="">
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="card-title">{{ translate({ ident: "SHIPPING_ADDRESS" }) }}</h3>
                    </div>
                    <div class="card-body">
                        {{ oViewConf.pcpGetStringConfigParam("pcpFixedShippingName") }}<br>
                        {{ oViewConf.pcpGetStringConfigParam("pcpFixedShippingStreet") }} {{ oViewConf.pcpGetStringConfigParam("pcpFixedShippingStreetNr") }}<br>
                        {{ oViewConf.pcpGetStringConfigParam("pcpFixedShippingZip") }} {{ oViewConf.pcpGetStringConfigParam("pcpFixedShippingCity") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    {{ parent() }}
{% endif %}