{% if oView.isPcpPayment() %}
    <div class="mb-3 row">
        <label class="req col-form-label col-lg-3">{{ translate({ ident: "PCP_MERCHANT_REFERENCE_ORDER" }) }}:</label>
        <div class="col-lg-9">
            <input type="text" class="form-control" size="20" maxlength="20" name="pcp_merchant_reference" value="{{ oView.getPcpMerchantReference() }}">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="req col-form-label col-lg-3">{{ translate({ ident: "PCP_CHECKOUT_REFERENCE_ORDER" }) }}:</label>
        <div class="col-lg-9">
            <input type="text" class="form-control" size="20" maxlength="20" name="pcp_checkout_reference" value="{{ oView.getPcpCheckoutReference() }}">
        </div>
    </div>
{% endif %}
<button type="submit" class="btn btn-lg btn-primary float-end submitButton nextStep largeButton">
    <i class="fas fa-check"></i> {{ translate({ ident: "SUBMIT_ORDER" }) }}
</button>