<h3>{{ translate({ ident: "PCP_YOUR_PAYMENT_REFERENCE_DATA" }) }}:</h3>
<div>
    {% if oView.pcpGetTxid() %}
        <div>
            <h4><b>{{ translate({ ident: "PCP_TXID" }) }}:</b> {{ oView.pcpGetTxid() }}</h4>
            <div>
                <table>
                    <tr>
                        <td><img src="{{ oView.pcpGetQrCodeTxid() }}"></td>
                        <td><img src="{{ oView.pcpGetBarcodeTxid() }}"></td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
    <div>
        <h4><b>{{ translate({ ident: "PCP_COMMERCE_CASE_ID" }) }}:</b> {{ oView.pcpGetCommerceCaseId() }}</h4>
        <div>
            <table>
                <tr>
                    <td><img src="{{ oView.pcpGetQrCodeCommerceCase() }}"></td>
                    <td><img src="{{ oView.pcpGetBarcodeCommerceCase() }}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <h4><b>{{ translate({ ident: "PCP_MERCHANT_REFERENCE" }) }}:</b> {{ oView.pcpGetMerchantReference() }}</h4>
        <table>
            <tr>
                <td><img src="{{ oView.pcpGetQrCodeReference() }}"></td>
                <td><img src="{{ oView.pcpGetBarcodeReference() }}"></td>
            </tr>
        </table>
    </div>
    <div>
        <h4><b>{{ translate({ ident: "PCP_CHECKOUT_REFERENCE" }) }}:</b> {{ oView.pcpGetCheckoutReference() }}</h4>
        <table>
            <tr>
                <td><img src="{{ oView.pcpGetQrCodeCheckoutReference() }}"></td>
                <td><img src="{{ oView.pcpGetBarcodeCheckoutReference() }}"></td>
            </tr>
        </table>
    </div>
    <div>
        <h4><b>{{ translate({ ident: "PCP_CHECKOUT_ID" }) }}:</b> {{ oView.pcpGetCheckoutId() }}</h4>
        <div>
            <table>
                <tr>
                    <td><img src="{{ oView.pcpGetQrCodeCheckout() }}"></td>
                    <td><img src="{{ oView.pcpGetBarcodeCheckout() }}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <h4><b>{{ translate({ ident: "PCP_CUSTOMER_IDENT" }) }}:</b> {{ oView.pcpGetCustNr("Kunde-") }}</h4>
    </div>
</div>
